@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700&display=swap');

ul {
    padding-left: 0;
}

ul li {
    list-style: none;
}

#app {
    font-family: 'Roboto', sans-serif;
    background: #ccc;
    width: 100%;
    height: 100%;
    color: #242327;
}

.title-list {
    margin: 30px auto;
}

.block-add-note {
    width: 360px;
    margin: 0 auto;
    padding: 15px 20px;
    border-radius: 20px;
    background: #D0DDC0;
}

.title {
    font-size: 15px;
    font-weight: 700;
    width: 100%;
    text-align: center;
}

#add-title,
#add-text {
    width: 100%;
    padding: 5px 10px;
    font-size: 13px;
    border-radius: 3px;
    border: none;
}

#add-text {
    height: 70px;
    margin-bottom: 10px;
}

.add-color {
    cursor: pointer;
    width: 15px;
    height: 15px;
    border: 1px solid #a7a6a6;
    border-radius: 50%;
    margin-left: 10px;
}

.block-colors {
    display: flex;
}

.category {
    box-sizing: border-box;
    margin-right: 5px;
    padding: 1px 5px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 700;
    border: 1px solid #ccc;
}

.active-color {
    border: 1px solid #374625;
}

.error-color {
    border: 1px solid red !important;
}

#add-text-label {
    width: 65%;
    padding: 5px 10px;
    font-size: 13px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: none;
}

#btn-add-note,
#btn-add-label {
    font-size: 14px !important;
    background: rgba(50, 204, 50, 0.6);
    font-size: 15px;
    border: none;
}

#btn-add-note:hover,
#btn-add-label:hover {
    background: rgb(16, 244, 16);
}

#btn-add-label {
    width: 35%;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#btn-add-note {
    border-radius: 3px;
    padding: 10px 20px;

}

.block-labels {
    width: 100%;
    min-height: 25px;
    margin: 10px 0;
    box-sizing: border-box;
    flex-wrap: wrap;
}
#notes {
    padding-bottom: 30px;
}

.label-note {
    border: 1px solid #374625;
    height: 25px;
    font-size: 12px;
    line-height: 18px;
    padding: 2px 5px;
    margin-right: 10px;
    margin-bottom: 3px;
    cursor: pointer;
    border-radius: 3px;
}

.delete-label {
    opacity: .5;
}

.block-btn {
    text-align: center;
}

.block-content {
    margin: 0 auto;
    width: 360px;
}

.block-note {
    margin-bottom: 30px;
    padding: 15px;
    position: relative;
}

.note-categorys {
    position: absolute;
    font-size: 13px;
    top: -20px;
    left: 0;
    width: 100%;
}

.note-category {
    padding: 0 5px;
    margin-right: 5px;
    display: inline-block;
}

.block-icons {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
}

.save-note,
.delete-note,
.edit-note {
    font-size: 20px;
    cursor: pointer;
    margin-right: 10px;
}

.edit-note {
    color: rgba(0, 0, 255, 0.7);
}

.delete-note {
    color: rgba(255, 0, 0, 0.7);
}

.save-note {
    color: rgba(0, 128, 0, 0.7);
}

.note-labels {
    margin-top: 10px;
}

.note-text,
.note-title {
    font-style: italic;
    background: #fff;
    line-height: 25px;
    padding-left: 10px;
}

.note-title {
    font-weight: 700;
    font-size: 15px;
    display: inline-block;
    padding-right: 15px;
}

.note-text {
    font-size: 13px;
}

.blue-border {
    border: 1px solid rgba(48, 129, 224, 0.7);
}